.container{:role => "main"}
  .col-md-12
    .panel.panel-default
      .panel-body
        .scroll-panel
          .row 
            .col-md-8
            .col-md-4.text-right
              = link_to '+ Hacer una reserva', new_schedule_path, class: "btn btn-lg btn-success" 
          %br
          %br    
          .row
            .col-md-12
              #calendar


:javascript
  $('#calendar').fullCalendar({
   schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
    height: 500,

    editable: true,
    eventLimit: true, // when too many events in a day, show the popover
    events: 'https://fullcalendar.io/demo-events.json?overload-day',

  allDaySlot: false,
  slotDuration: "00:15:00",
  minTime: "09:00:00",
  maxTime: "20:30:00",
  defaultView: 'agendaDay',
 


  eventClick: function(calEvent, jsEvent, view) {
    window.location.href = "/schedules/"+calEvent.id+"/detail" ;
  },


    header: {
    left: 'prev,next today',
    center: 'title',
    right: 'agendaDay, listDay, timelineThreDays,agendaWeek,month, listMonth'
    },
    buttonText:{
      month:    'mes',
      week:     'semana',
      listDay: 'día',
      agendaDay: 'día-vertical',
      listMonth:'agenda-mes'
    },
    views: {
    timelineThreDays: {
      type: 'timeline',
      duration: { days: 3 }
      }
    },
    resources: [
      { id: 'Depilación Diodo', title: 'Depilación Diodo' },
      { id: 'Depilación Láser SHR', title: 'Depilación Láser SHR' }
    ],
    events: #{@events.to_json.html_safe},
    eventColor: 'green'


  });
  $(document).on('turbolinks:load', initialize_calendar);

